# Imports

In [16]:
# from beautifulsoup4 import BeautifulSoup #how we clean 
# from bs4 import BeautifulSoup as bs
import os

import requests as req #how we access the web page
import pandas as pd
import json

from io import StringIO

# print(all_game_level_data.status_code)
# print(type(all_game_level_data))
# print(all_game_level_data)
# soup = bs(all_game_data.text, 'html.parser') #this may not be necessary

# Pull Data

In [20]:
f = open("../dictionaries/url_dict.json")
url_dict  = json.load(f)

test = list(url_dict.keys())

print(test)

['ALL GAMES', 'ALL PLAYERS', 'ALL SHOTS']

In [6]:
df = req.get(url_dict["ALL PLAYERS"])
# soup = bs(df.text, 'html.parser') #this may not be necessary

In [7]:
df = (pd.read_csv(StringIO(df.text)))

# EDA

## Explore All Columns

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3154 entries, 0 to 3153
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   playerId         3154 non-null   int64
 1   name             3154 non-null   object
 2   position         3154 non-null   object
 3   team             3154 non-null   object
 4   birthDate        2976 non-null   object
 5   weight           2976 non-null   float64
 6   height           2976 non-null   object
 7   nationality      2976 non-null   object
 8   shootsCatches    2976 non-null   object
 9   primaryNumber    2976 non-null   float64
 10  primaryPosition  2976 non-null   object
dtypes: float64(2), int64(1), object(8)
memory usage: 271.2+ KB

In [9]:
df.dtypes

playerId             int64
name                object
position            object
team                object
birthDate           object
weight             float64
height              object
nationality         object
shootsCatches       object
primaryNumber      float64
primaryPosition     object
dtype: object

In [10]:
df.size

34694

In [11]:
sorted(df.columns)

['birthDate',
 'height',
 'name',
 'nationality',
 'playerId',
 'position',
 'primaryNumber',
 'primaryPosition',
 'shootsCatches',
 'team',
 'weight']

In [12]:
df.head()

,playerId,name,position,team,birthDate,weight,height,nationality,shootsCatches,primaryNumber,primaryPosition
0,8478421,A.J. Greer,L,CGY,1996-12-14,210.0,"6' 3""",CAN,L,24.0,L
1,8477180,Aaron Dell,G,SJS,1989-05-04,205.0,"6' 0""",CAN,L,30.0,G
2,8465992,Aaron Downey,R,DET,1974-08-27,215.0,"6' 1""",CAN,R,44.0,R
3,8477932,Aaron Ekblad,D,FLA,1996-02-07,220.0,"6' 4""",CAN,R,5.0,D
4,8471451,Aaron Gagnon,C,WPG,1986-04-24,186.0,"5' 11""",CAN,R,21.0,C

In [13]:
df.tail()

,playerId,name,position,team,birthDate,weight,height,nationality,shootsCatches,primaryNumber,primaryPosition
3149,8475876,Zane McIntyre,G,BOS,1992-08-20,206.0,"6' 2""",USA,L,31.0,G
3150,8469760,Zbynek Michalek,D,ARI,1982-12-23,210.0,"6' 2""",CZE,R,4.0,D
3151,8465009,Zdeno Chara,D,NYI,1977-03-18,250.0,"6' 9""",SVK,L,33.0,D
3152,8476878,Zemgus Girgensons,L,BUF,1994-01-05,211.0,"6' 2""",LVA,L,28.0,C
3153,8469820,Zenon Konopka,C,BUF,1981-01-02,213.0,"6' 0""",CAN,L,24.0,C

In [14]:
df

,playerId,name,position,team,birthDate,weight,height,nationality,shootsCatches,primaryNumber,primaryPosition
0,8478421,A.J. Greer,L,CGY,1996-12-14,210.0,"6' 3""",CAN,L,24.0,L
1,8477180,Aaron Dell,G,SJS,1989-05-04,205.0,"6' 0""",CAN,L,30.0,G
2,8465992,Aaron Downey,R,DET,1974-08-27,215.0,"6' 1""",CAN,R,44.0,R
3,8477932,Aaron Ekblad,D,FLA,1996-02-07,220.0,"6' 4""",CAN,R,5.0,D
4,8471451,Aaron Gagnon,C,WPG,1986-04-24,186.0,"5' 11""",CAN,R,21.0,C
...,...,...,...,...,...,...,...,...,...,...,...
3149,8475876,Zane McIntyre,G,BOS,1992-08-20,206.0,"6' 2""",USA,L,31.0,G
3150,8469760,Zbynek Michalek,D,ARI,1982-12-23,210.0,"6' 2""",CZE,R,4.0,D
3151,8465009,Zdeno Chara,D,NYI,1977-03-18,250.0,"6' 9""",SVK,L,33.0,D
3152,8476878,Zemgus Girgensons,L,BUF,1994-01-05,211.0,"6' 2""",LVA,L,28.0,C
3153,8469820,Zenon Konopka,C,BUF,1981-01-02,213.0,"6' 0""",CAN,L,24.0,C

In [15]:
df.isnull().sum()

playerId             0
name                 0
position             0
team                 0
birthDate          178
weight             178
height             178
nationality        178
shootsCatches      178
primaryNumber      178
primaryPosition    178
dtype: int64

## Explain Columns

Choose different types available. Explain their

## Sort Columns

# Saving Table for Use Elsewhere

The point of this is to place the table into an easily accessible location. For ad-hoc study simplification, I will manually run the file to poopulate my stuff vs using a more master seciton that will call upon this. Eventually, I want to use a module that will run this. Make it a brain-child module where even class objects are called upon.

# Plotting

In [14]:
import json

f = open('../dictionaries/url_dict.json')

data = json.load(f)

print(data.keys())

print(data["ALL GAMES"])

url = data["ALL GAMES"]

print(type(url))

dict_keys(['ALL GAMES', 'ALL PLAYERS', 'ALL SHOTS'])
http://moneypuck.com/moneypuck/playerData/careers/gameByGame/all_teams.csv
<class 'str'>

In [6]:
# table = soup.find_all('table')

test = (
    pd
    .read_csv(StringIO(all_game_data.text))
)

In [7]:
print(test.head())

  team  season name      gameId playerTeam opposingTeam home_or_away  \
0  NYR    2008  NYR  2008020001        NYR          T.B         AWAY
1  NYR    2008  NYR  2008020001        NYR          T.B         AWAY
2  NYR    2008  NYR  2008020001        NYR          T.B         AWAY
3  NYR    2008  NYR  2008020001        NYR          T.B         AWAY
4  NYR    2008  NYR  2008020001        NYR          T.B         AWAY

   gameDate    position situation  ...  unblockedShotAttemptsAgainst  \
0  20081004  Team Level     other  ...                           1.0
1  20081004  Team Level       all  ...                          31.0
2  20081004  Team Level      5on5  ...                          20.0
3  20081004  Team Level      4on5  ...                           9.0
4  20081004  Team Level      5on4  ...                           1.0

   scoreAdjustedUnblockedShotAttemptsAgainst  dZoneGiveawaysAgainst  \
0                                      1.000                    0.0
1                                     30.369                    5.0
2                                     19.369                    3.0
3                                      9.000                    1.0
4                                      1.000                    1.0

   xGoalsFromxReboundsOfShotsAgainst  xGoalsFromActualReboundsOfShotsAgainst  \
0                              0.017                                   0.000
1                              0.396                                   0.168
2                              0.237                                   0.168
3                              0.124                                   0.000
4                              0.019                                   0.000

   reboundxGoalsAgainst  totalShotCreditAgainst  \
0                 0.000                   0.037
1                 0.168                   2.917
2                 0.168                   1.862
3                 0.000                   0.795
4                 0.000                   0.224

   scoreAdjustedTotalShotCreditAgainst  \
0                                0.037
1                                2.833
2                                1.777
3                                0.795
4                                0.224

   scoreFlurryAdjustedTotalShotCreditAgainst  playoffGame
0                                      0.037            0
1                                      2.714            0
2                                      1.665            0
3                                      0.789            0
4                                      0.224            0

[5 rows x 111 columns]

In [13]:
print(type(test))

<class 'pandas.core.frame.DataFrame'>

In [16]:
test.size

22677300

In [17]:
test.shape

(204300, 111)

In [20]:
sorted(test.columns)

['blockedShotAttemptsAgainst',
 'blockedShotAttemptsFor',
 'corsiPercentage',
 'dZoneGiveawaysAgainst',
 'dZoneGiveawaysFor',
 'faceOffsWonAgainst',
 'faceOffsWonFor',
 'fenwickPercentage',
 'flurryAdjustedxGoalsAgainst',
 'flurryAdjustedxGoalsFor',
 'flurryScoreVenueAdjustedxGoalsAgainst',
 'flurryScoreVenueAdjustedxGoalsFor',
 'freezeAgainst',
 'freezeFor',
 'gameDate',
 'gameId',
 'giveawaysAgainst',
 'giveawaysFor',
 'goalsAgainst',
 'goalsFor',
 'highDangerGoalsAgainst',
 'highDangerGoalsFor',
 'highDangerShotsAgainst',
 'highDangerShotsFor',
 'highDangerxGoalsAgainst',
 'highDangerxGoalsFor',
 'hitsAgainst',
 'hitsFor',
 'home_or_away',
 'iceTime',
 'lowDangerGoalsAgainst',
 'lowDangerGoalsFor',
 'lowDangerShotsAgainst',
 'lowDangerShotsFor',
 'lowDangerxGoalsAgainst',
 'lowDangerxGoalsFor',
 'mediumDangerGoalsAgainst',
 'mediumDangerGoalsFor',
 'mediumDangerShotsAgainst',
 'mediumDangerShotsFor',
 'mediumDangerxGoalsAgainst',
 'mediumDangerxGoalsFor',
 'missedShotsAgainst',
 'missedShotsFor',
 'name',
 'opposingTeam',
 'penalityMinutesAgainst',
 'penalityMinutesFor',
 'penaltiesAgainst',
 'penaltiesFor',
 'playContinuedInZoneAgainst',
 'playContinuedInZoneFor',
 'playContinuedOutsideZoneAgainst',
 'playContinuedOutsideZoneFor',
 'playStoppedAgainst',
 'playStoppedFor',
 'playerTeam',
 'playoffGame',
 'position',
 'reboundGoalsAgainst',
 'reboundGoalsFor',
 'reboundsAgainst',
 'reboundsFor',
 'reboundxGoalsAgainst',
 'reboundxGoalsFor',
 'savedShotsOnGoalAgainst',
 'savedShotsOnGoalFor',
 'savedUnblockedShotAttemptsAgainst',
 'savedUnblockedShotAttemptsFor',
 'scoreAdjustedShotsAttemptsAgainst',
 'scoreAdjustedShotsAttemptsFor',
 'scoreAdjustedTotalShotCreditAgainst',
 'scoreAdjustedTotalShotCreditFor',
 'scoreAdjustedUnblockedShotAttemptsAgainst',
 'scoreAdjustedUnblockedShotAttemptsFor',
 'scoreFlurryAdjustedTotalShotCreditAgainst',
 'scoreFlurryAdjustedTotalShotCreditFor',
 'scoreVenueAdjustedxGoalsAgainst',
 'scoreVenueAdjustedxGoalsFor',
 'season',
 'shotAttemptsAgainst',
 'shotAttemptsFor',
 'shotsOnGoalAgainst',
 'shotsOnGoalFor',
 'situation',
 'takeawaysAgainst',
 'takeawaysFor',
 'team',
 'totalShotCreditAgainst',
 'totalShotCreditFor',
 'unblockedShotAttemptsAgainst',
 'unblockedShotAttemptsFor',
 'xFreezeAgainst',
 'xFreezeFor',
 'xGoalsAgainst',
 'xGoalsFor',
 'xGoalsFromActualReboundsOfShotsAgainst',
 'xGoalsFromActualReboundsOfShotsFor',
 'xGoalsFromxReboundsOfShotsAgainst',
 'xGoalsFromxReboundsOfShotsFor',
 'xGoalsPercentage',
 'xOnGoalAgainst',
 'xOnGoalFor',
 'xPlayContinuedInZoneAgainst',
 'xPlayContinuedInZoneFor',
 'xPlayContinuedOutsideZoneAgainst',
 'xPlayContinuedOutsideZoneFor',
 'xPlayStoppedAgainst',
 'xPlayStoppedFor',
 'xReboundsAgainst',
 'xReboundsFor']